<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New MongoDB Form</title>
</head>
<body>
    <h1>Sign In</h1>
    <form method="POST" action="/add_mongo_data">
        <label for="field1">Username:</label>
        <input type="text" id="field1" name="field1" required><br><br>

        <label for="field2">Password:</label>
        <input type="text" id="field2" name="field2" required><br><br>

        <input type="submit" value="Submit">
    </form>
    <a href="index.html">Another page</a>
</body>
</html>
